<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1fcbb1ab-1178-46fc-8c5d-f0e20b65610d/resourcegroups/Temp/providers/Microsoft.Web/sites/BlazorAppBlazorServer20210909154444</ResourceId>
    <ResourceGroup>Temp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blazorappblazorserver20210909154444.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>44a78429-08ba-478b-9946-4189e4fb1e38</ProjectGuid>
    <PublishUrl>https://blazorappblazorserver20210909154444.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlazorAppBlazorServer20210909154444</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>