#
# /etc/ssh/sshd_config
#

Port 			2222
ListenAddress 		0.0.0.0
LoginGraceTime 		180
X11Forwarding 		yes
Ciphers                 aes128-cbc,3des-cbc,aes256-cbc
MACs                    hmac-sha1,hmac-sha1-96
StrictModes 		yes
SyslogFacility 		DAEMON
PrintMotd 		no
IgnoreRhosts 		no
#deprecated option 
#RhostsAuthentication 	no
RhostsRSAAuthentication yes
RSAAuthentication 	no 
PasswordAuthentication 	yes
PermitEmptyPasswords 	no
PermitRootLogin 	yes