pulumi>=3.0.0,<4.0.0
pulumi-aws>=6.0.2,<7.0.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
idna==3.7
pycparser==2.22
pyOpenSSL==23.2.0
requests==2.32.2
pulumi-tls>=5.0.0,<6.0.0
urllib3==2.3.0
PyYAML