name: Command Dispatch for testing
on:
  issue_comment:
    types:
    - created
    - edited
jobs:
  command-dispatch-for-testing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Run Build
      uses: peter-evans/slash-command-dispatch@v2
      with:
        commands: run-example-tests
        issue-type: pull-request
        permission: write
        reaction-token: ${{ secrets.GITHUB_TOKEN }}
        repository: pulumi/examples
        token: ${{ secrets.EVENT_PAT }}
