name: New Pull request Open
"on":
  pull_request:
    branches:
      - master

jobs:
  comment-on-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@master
        with:
          message: 'Thank you for opening a PR! Please stand-by for one of the project maintainers to run the tests'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
